

RewriteEngine On
RewriteBase /SoftRecode/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
AuthUserFile /htdoc/.htpasswd
AuthType Basic


