.card-recode{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5px;
}

.card-recode-cursor{
    cursor: pointer;
}

.card-recode-ligne{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 5px;
}
.card-recode-green{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: #96db99;
    border-radius: 10px;
   
    padding-left: 5%;
    padding-right: 5px;
}

.card-recode-secondary{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: #babdba;
    border-radius: 7px;
   
    padding-left: 3%;
    padding-right: 3px;
}

.modal-recode{
    background-color: #96db99;
}

.lead-subject-image{
    width: 100%;
    border-color: #28B62C;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    border-radius: 50%;
}

.subject-image{
    width: 75%;
    border-color: #28B62C;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    border-radius: 50%;
}
@media (max-width:980px) {
    .subject-image {
        width: 100%;
        border-color: #28B62C;
        border-style: solid;
        border-width: 2px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .lead-subject-image{
        width: 90%;
        border-color: #28B62C;
        border-style: solid;
        border-width: 2px;
        margin-top: 10px;
        border-radius: 50%;
    }
}
@media (max-width:375px) {
    .subject-image {
        width: 100%;
        border-color: #28B62C;
        border-style: solid;
        border-width: 2px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .lead-subject-image{
        width: 90%;
        border-color: #28B62C;
        border-style: solid;
        border-width: 2px;
        margin-top: 10px;
        border-radius: 50%;
    }
}
@media (max-width:990px) {
    .display-logo{
      display: none;
    }

}

@media (max-width:770px) {
    .card-recode-secondary{
        display: flex;
	    flex-direction: column;
        justify-content: center;
        
    }
    .recode-div-pic{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .subject-card{
        display: flex;
	    flex-direction: column;
        justify-content: center;

    }
}




.recode-p{
    color: #28B62C;
    font-weight: bold;
}


.recode-orange-title{
    color: #f08a2a;
    font-weight: bold;
}