

body {
    font-size: .875rem;
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
  }
  
  .container-body
  {
    min-height: 100vh;
  }

  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  #calendar-container{
    cursor: pointer;
  }

  
  /*
   * Sidebar
   */
  .hideSide
  {
    width: 0%;
  }
  
  .wrapper_tooltips
  {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    border: 3px solid #6b6b69;
  }

  .alert_perso {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
    
  .sidebar
   {
    position: fixed;
   
    top: 5;
    bottom: 0;
    left: 0;
    z-index: 850; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  #side-container{

    
  }

 
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    
    
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  .nav-item{
    cursor: pointer;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .navbar-large {
    margin-left: 0% !important;
 }
  .navbar{
    margin-left: 15%;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .trClick{
    cursor: pointer;
  }
  .dragDrop{
    cursor: pointer;
  }
  
  .certificate {
    cursor: pointer;
  }

  .navigationClick{
    
  }
  
  #flexTransport{
    height: 25%;
  }


  #loaderPdf {
    padding-top: 155px;
    padding-bottom: 390px;
  }

  #loaderCMD {
    padding-top: 155px;
    padding-bottom: 390px;
  }

  #loaderFacture {
    padding-top: 255px;
    padding-bottom: 590px;
  }

  #charts-Devis{
    height: 600px;
  }

  #loaderFiche{
    height: 900px;
  }

  #loaderTravail{
    height: 900px;
  }

  #CamVendeur{
    width: 100%;
    height: 250px;
  }

  #chartsDiv1{
    width: 100%;
    height: 250px;
  }

  .tooltip-inner {
    max-width: 550px;
    
 }

 #loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff ;
  z-index: 9999;
  }
 
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color:#228B22 transparent #228B22 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .list-group-item-action:hover
  {
    cursor: pointer;
  }


  .sous_ref_card
  {
    background-color:#ebebeb;
  }


#rotate_facturation
{
  transition:  transform 0.3s ease-out;
}

.click-span
{
  cursor: pointer;
}
 
.rotated {
    -webkit-transform: rotateX(360deg) ; 
    -moz-transform: rotateX(360deg) ;
    -ms-transform: rotateX(360deg) ; 
    -o-transform: rotateX(360deg) ;
    transform:  rotateX(360deg) ;
   
}


 /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: -2px;
  left: 100%;
  background-color: #393a39;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1080;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(223, 215, 215);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #28B62C;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

.newCard {
  background-color: #DA70D6;
  border-color:  #DA70D6;
  color: white;
}
