.input-recode{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.input-recode:focus{
  box-shadow: 0px 0px 20px 5px #77DB85;
  border-color: #77DB85;
  border-radius: 10px;
}
.card-recode{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.green-card-recode{
    box-shadow: 4px 4px 8px #77DB85;
    border-radius: 10px;
}
.btn-recode{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.bg-dialog-self{
    background: linear-gradient(to bottom, #a9da9c 0%, #77DB85 100%);
    border-radius: 20px;
}

.bg-dialog-ext{

}

.btn-recode-important {
    background-color: #4CAF50 !important;
    /* Green */
    border: none !important;
    color: white !important;
    padding: 12px 27px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 14px !important;
}
.btn-recode-warning{
    background-color: #F77D24; /* Green */
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-recode-small{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}
.btn-recode-small:hover{
    background-color: #4CAF50; /* Green */
}
.pastille-recode{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 0px 11px 3px #9b9b9b;
    border-radius: 5px;
}
.pastille-recode:hover{
    background-color: #4CAF50; /* Green */
}
.btn-recode-mini{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 1px 3px #9b9b9b;
    border-radius: 5px;
}
.btn-recode-mini:hover{
    background-color: #4CAF50;
}
.btn-recode-mini-danger{
    background-color: #f51212; /* Green */
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 1px 3px #9b9b9b;
    border-radius: 5px;
}
.btn-recode-mini-danger:hover{
    background-color: #f51212;
}

.btn-recode-mini-primary{
    background-color: #219ee7; /* Green */
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 1px 3px #9b9b9b;
    border-radius: 5px;
}
.btn-recode-mini-primary:hover{
    background-color: #219ee7;
}
.btn-recode:hover{
    background-color: #4CAF50; /* Green */
}
.btn-recode-warning:hover{
    background-color: #eb6d13;
}
.btn-recode-danger{
    background-color: #e74444; /* Green */
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-recode-danger:hover{
    background-color: #f51212; /* Green */
}
.btn-recode-primary{
    background-color: #219ee7; /* Green */
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-recode-primary:hover{
    background-color: #007dc5; /* Green */
}
.file-recode{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.label-file-recode{
    cursor: pointer;
    color: #4CAF50;
    font-weight: bold;
    border-radius: 10px;
}
.label-file-recode:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    
}
.background-recode{
    width: 100%;
    background-image: url("../img/wa.jpg");
    
    background-repeat: repeat;
    
    background-color: #cccccc;
    
}

.background-recode-list{
    /* width: 100%;
    background: #16222A;  /
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); 
    background: linear-gradient(to right, #3A6073, #16222A);  */
    

    
    width: 100%;
    background-image: url("../img/wa.jpg");
    
    background-repeat: repeat;
    
    background-color: #cccccc;
}

.background-extranet{
    background-image: url("../img/extrafond.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

.scrollable-list{
    overflow: scroll;
}