{% extends 'layoutMain.twig' %}


  {% block style %}
  <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
{% block main %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"> 
              {% if client_list %}
              <div class="col-8">
                <ul class="list-group list-group-flush">
                        {% for client in client_list %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="mx-3">
                                                <custom-form-button-mini method='POST' url='search_switch' name='search' value='{{client.client__id}}'
                                                        logo='({{client.client__id}}) <b>{{client.client__societe}} {{client.client__cp ~ " " ~ client.client__ville}}</b>'>
                                                </custom-form-button-mini>      
                                        </span>       
                                </li>
                        {% endfor %} 
                </ul>
              </div>
                
              {% else %}
              <div class="alert alert-danger" role="alert">
                Aucuns résultat pour cette recherche : 
              </div>
              {% endif %}
        </main>
{% endblock %}
     
    
{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
{% endblock %}