{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="public/chosen/chosen.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/stepper.css">

{% endblock %}
{% block main %}

<main role="main" class="container-fluid  col-12 container-body" style="background-color:   #f3f3f3  ;">
  
    <div class="container ">
        <div class="d-flex">
            <div class="col-11">
              {% include 'forms/forms_article_spec.html.twig' %}     
            </div>
        </div> 
     </div>
</main>


{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="public/js/stepper.js"></script>

<script type="text/javascript">
  



</script>
{% endblock %}