{% extends 'new_layout.twig' %}


{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}


{% block main %}
<main role="" class="container-fluid my-3 col-11 container-body">

  <div class="d-flex justify-content-start flex-column     mb-5 border-bottom">

    <h1 class="h2">Tableau de bord <i class="fal fa-chart-network fa-lg fa-fw"></i></h1>
    
  
  </div>
  <!-- 1ere ligne -->
  <div class="d-flex flex-wrap flex-row justify-content-center">
    <div class="col-11">
      <!--carte -->
	<div class=" shadow my-2">
	  <div class="card-body">
	    <div class="d-flex flex-row justify-content-around">
	   
	      {% if user.user__devis_acces > 0  %}
		<div class="mx-4 ">
		  <button class="btn btn-link">
		    <a href="DevisV2" >
		      <i class="far fa-file-edit fa-3x"></i>
		      <p>Nouveau devis</p>
		    </a>
		  </button>
		  
		</div>
	      {% else %}
		<div class="mx-4 " data-toggle="tooltip" data-placement="top" title="Droits d'accès supplémentaires requis">
		  <button  class="btn btn-link " disabled >
		    <i class="far fa-file-edit fa-3x"></i>
		    <p>Nouveau devis</p>
		  </button>
		</div>
	      {% endif %}
	      
	      {% if user.user__devis_acces > 0  %}
		<div class="mx-4">
		  <button class="btn btn-link">
		    <a href="abonnement">
		      <i class="far fa-file-pdf fa-3x"></i>
		      <p>Abonnements</p>
		    </a>
		  </button>
		</div>
	      {% else %}
		<div class="mx-4" data-toggle="tooltip" data-placement="top" title="Droits d'accès supplémentaires requis">
		  <button class="btn btn-link" disabled >
		      <i class="far fa-file-pdf fa-3x"></i>
		      <p>Abonnements</p>
		  </button>
		</div>
	      {% endif %}
	      
	      <div class="mx-4">
		<button class="btn btn-link">
		  <a href="http://intranet/" target="_blank" >
		    <i class="fas fa-recycle fa-3x"></i>
		    <p>Intranet</p>
		  </a>
		</button>
		
	      </div>

	      {% if user.user__cmd_acces > 0  %}
		<div class="mx-4">
		  <button class="btn btn-link">
		    <a href="fiches_garantie" >
		      <i class="fal fa-layer-plus fa-3x"></i>
		      <p>Fiche de garantie</p>
		    </a>
		  </button>
		  
		</div>
	      {% else %}
	      <div class="mx-4" data-toggle="tooltip" data-placement="top" title="Droits d'accès supplémentaires requis">
		<button class="btn btn-link" disabled >
		  
		    <i class="fal fa-layer-plus fa-3x" ></i>
		    <p>Fiche de garantie</p>
		  
		</button>  
	      </div>
	      {% endif %}
	      
	      <div class="mx-4">
		<button class="btn btn-link">
		  <a href="admin_client" >
		    <i class="fas fa-user-tie fa-3x"></i>
		    <p>Nouveau client</p>
		  </a>
		</button>
		
	      </div>
	      
		{% if user.user__facture_acces > 5 %}
		<div class="mx-4">
		<button class="btn btn-link">
		  <a href="stat" >
		    <i class="fas fa-chart-pie fa-3x"></i>
		    <p>Statistiques</p>
		  </a>
		</button>
	      </div>
		{% else %}
		<div class="mx-4" data-toggle="tooltip" data-placement="top" title="Droits d'accès supplémentaires requis">
		<button class="btn btn-link" disabled >
		    <i class="fas fa-chart-pie fa-3x"></i>
		    <p>Statistiques</p>
		</button>
	      </div>
		{% endif %}

		{% if user.user__facture_acces > 5 %}
		<div class="mx-4">
		<button class="btn btn-link">
		  <a href="facture">
		    <i class="fas fa-euro-sign fa-3x"></i>
		    <p>Facturation</p>
		  </a>
		</button>
	      </div>
		{% else %}
		<div class="mx-4" data-toggle="tooltip" data-placement="top" title="Droits d'accès supplémentaires requis">
		<button class="btn btn-link" disabled >
		  <i class="fas fa-euro-sign fa-3x"></i>
		    <p>facturation</p>
		</button>
	      </div>
		{% endif %}
		
	      
	    </div>
	    <!--List info personnel blabla-->
	    <div class="my-5">
	      			<ul class="list-group">
				<li class="list-group-item">
		    <i class="fas fa-chart-bar fa-2x"></i>
		    <span class="mx-5 text-primary"><span class="mx-1 badge badge-info ">{{commandes_valides}}</span>  commandes en cours de préparation </span>
		    <span class="mx-5 text-primary"><span class="mx-1 badge badge-primary ">{{devis_envoyes}}</span>  Devis envoyés les 15 derniers jours</span>
		</li>
		<li class="list-group-item">
		  <div class="alert alert-info" role="alert">
		    <h5><span class=" font-italic">
		    En cours de développement 
		    </span>
		    </h5>
	    </div>
		</li>
	      </ul>
	    </div>

	    <!--google form-->
	    <div class="my-5 form-group">
	     
	      
	      				<form class="col-3" action="http://www.google.com/search" method="get" target="_blank">
		  
		  		<img src="public/img/google.png" style="width: 12rem;" >
	       
				<input type="search" class="form-control" name="q" />
		<button class="mx-4 mt-1 btn  border shadow " type="submit">Recherche Google</button>
	      </form>
	    </div>

	  </div>
	</div>
      <!-- fin carte -->
    </div>
  </div>
  
</main>
{% endblock %}


{% block script %}
<!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/dashboard.js"></script>



{% endblock %}