{% extends 'responsive_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="public/chosen/chosen.min.css">
<link rel="stylesheet" href="public/css/forms.css">
{% endblock %}
{% block main %}
<main role="main" class="col-12 container-body background-extranet text-monospace">
  <div class="container pt-5 ">
    <div class="container pt-5 ">
        <form action="tickets-post-data" method="POST" class="col-12 col-sm-9 mx-auto">
          <h2 class="text-white">{{ticket.tk__id ~ " " ~ ticket.tk__titre}}</h2>
          
          <div class="form-group pt-5">
            {% if sujet %}
            
              {{ include('display/display_ticket_subject.html.twig')}}
            {% endif %}
            {% for form in forms %}
              {{ include('display/display_ticket_ligne.html.twig')}}
            {% endfor %}
          </div>
          
         
        </form>
    </div>
       
  </div>
</main>
{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>

{% endblock %}