{% extends 'layoutMain.twig' %}
 {% block content %}
 
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Commandes <i class="fal fa-tachometer-alt-fast"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Cette semaine
          </button>
        </div>
      </div>
    </main>
     {% endblock %}
     
    
   </div>
 </div>
 {% endblock %}