<!doctype html>
<html lang="fr">
<head>

<!--
8b    d8 888888 88b 88 88   88     888888 888888     888888 88b 88 888888 888888 888888 
88b  d88 88__   88Yb88 88   88     88__     88       88__   88Yb88   88     88   88__   
88YbdP88 88""   88 Y88 Y8   8P     88""     88       88""   88 Y88   88     88   88""   
88 YY 88 888888 88  Y8 `YbodP'     888888   88       888888 88  Y8   88     88   888888 --> 


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
{% block style  %}
{% endblock %}


<title>Soft Recode</title>
</head>
<body >

<!--NavBar--> 
<nav class="navbar navbar-light  sticky-top bg-white flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 ml-4 " href="#">  {{ user.prenom ~  " " ~  user.nom ~ " " }}<i class="fas fa-user"></i></a> 
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="unlog">Se deconnecter <i class="fad fa-sign-out"></i></a>
    </li>
  </ul>
</nav>

<!--end navbar-->
<div class="container-fluid " id="accordion">
  <div class="row">

    <!--SideBar-->
    <nav class="col-2 d-none d-md-block bg-dark shadow sidebar">
      <div class="sidebar-sticky">
        <table class="table table-hover table-dark">
          <tr>
              <img src="public/img/transparency.png" class=" ml-5 my-2" alt="" width="170" height="60">
          </tr>


          <tr>
            <td>
              <a class="nav-link text-white" href="dashboard">
                <span data-feather="file"></span>
                <i class="fal fa-chart-network fa-lg fa-fw" style="color: #76FF03;"></i> DashBoard 
              </a>
              </td>
          </tr>


{#88b.  888888 Yb    dP 88 .dP"Y8 
 8I  Yb 88__    Yb  dP  88 `Ybo." 
 8I  dY 88""     YbdP   88 o.`Y8b 
8888Y"  888888    YP    88 8bod#}
         
          <tr>
          <td>
            <a class="nav-link text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <span data-feather="file"></span>
              <i class="fad fa-file-edit fa-lg fa-fw" style="color: #FFD180;"></i> Devis 
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0 " >
                  <a class="nav-link text-white" href="mesDevis">
                    <span data-feather="file"></span>
                    <i class="fal fa-file-search fa-fw"></i> Mes devis
                  </a>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0 certificate" >
                  <a class="nav-link text-white" href="nouveauDevis">
                    <span data-feather="file"></span>
                    <i class="fal fa-file-edit fa-fw"></i> Nouveau devis
                  </a>
                </li>
              </ul>
            </div>
          </td>
          </tr>


 {#""b8  dP"Yb  8b    d8 8b    d8    db    88b 88 8888b.  888888 .dP"Y8 
dP   `" dP   Yb 88b  d88 88b  d88   dPYb   88Yb88  8I  Yb 88__   `Ybo." 
Yb      Yb   dP 88YbdP88 88YbdP88  dP__Yb  88 Y88  8I  dY 88""   o.`Y8b 
 YboodP  YbodP  88 YY 88 88 YY 88 dP""""Yb 88  Y8 8888Y"  888888 8bod#}
          <tr>
          <td>
            <a class="nav-link text-white"data-toggle="collapse" href="#collapseCommandes" role="button" aria-expanded="false" aria-controls="collapseExample">
              <span data-feather="file"></span>
              <i class="fad fa-shopping-cart fa-lg fa-fw" style="color: #40C4FF;"></i> Commandes
            </a>
            <div class="collapse" id="collapseCommandes">
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0" >
                  <a class="nav-link text-white" href="home">
                    <span data-feather="file"></span>
                    <i class="fal fa-clipboard-check fa-fw"></i>  Commander Devis
                  </a>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0" >
                  <a class="nav-link text-white" href="commandCours">
                    <span data-feather="file"></span>
                    <i class="fal fa-rabbit-fast fa-fw"></i> Commandes en cours
                  </a>
                </li>
              </ul>
            </div>
          </td>
          </tr>

{#8888 88""Yb    db    88b 88 .dP"Y8 88""Yb  dP"Yb  88""Yb 888888 
  88   88__dP   dPYb   88Yb88 `Ybo." 88__dP dP   Yb 88__dP   88   
  88   88"Yb   dP__Yb  88 Y88 o.`Y8b 88"""  Yb   dP 88"Yb    88   
  88   88  Yb dP""""Yb 88  Y8 8bodP' 88      YbodP  88  Yb   8#}
          <tr>
            <td class="nav-item">
            <a class="nav-link text-white" href="saisie">
              <span data-feather="file"></span>
              <i class="far fa-truck-couch fa-lg fa-fw" style="color: LightGreen;"></i> Saisie transport
            </a>
          </td>
          </tr>

{#8888    db     dP""b8 888888 88   88 88""Yb 888888 .dP"Y8 
88__     dPYb   dP   `"   88   88   88 88__dP 88__   `Ybo." 
88""    dP__Yb  Yb        88   Y8   8P 88"Yb  88""   o.`Y8b 
88     dP""""Yb  YboodP   88   `YbodP' 88  Yb 888888 8bod#}
          <tr>
            <td class="nav-item">
            <a class="nav-link text-white" href="#">
              <span data-feather="file"></span>
            <i class="fad fa-euro-sign fa-lg fa-fw" style="color: HotPink;"></i> Factures
            </a>
          </td>
          </tr>


{#8888 88  dP""b8 88  dP 888888 888888 .dP"Y8 
  88   88 dP   `" 88odP  88__     88   `Ybo." 
  88   88 Yb      88"Yb  88""     88   o.`Y8b 
  88   88  YboodP 88  Yb 888888   88   8bod#}
          <tr>
            <td>
            <a class="nav-link text-white"data-toggle="collapse" href="#collapseTicket" role="button" aria-expanded="false" aria-controls="collapseTicket">
              <span data-feather="file"></span>
              <i class="fad fa-clipboard-list-check fa-lg fa-fw" style="color: #18FFFF;"></i> Tickets
            </a>
            <div class="collapse" id="collapseTicket">
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0" >
                  <a class="nav-link text-white" href="tickets">
                    <span data-feather="file"></span>
                    <i class="fad fa-clipboard-check fa-fw"></i> Consultation
                  </a>
                </li>
              </ul>
            </div>
          </td>
          </tr>

{#    d8    db    888888  dP"Yb  .dP"Y8 
88b  d88   dPYb     88   dP   Yb `Ybo." 
88YbdP88  dP__Yb    88   Yb   dP o.`Y8b 
88 YY 88 dP""""Yb   88    YbodP  8bod#}
<tr>
  <td>
  <a class="nav-link text-white"data-toggle="collapse" href="#collapseMatos" role="button" aria-expanded="false" aria-controls="collapseMatos">
    <span data-feather="file"></span>
    <i class="fad fa-user-robot fa-lg fa-fw" style="color: Gainsboro;"></i> Matos
  </a>
  <div class="collapse" id="collapseMatos">
    <ul class="list-group">
      <li class="list-group-item  bg-transparent border-0" >
        <a class="nav-link text-white" href="catalogue">
          <span data-feather="file"></span>
          
          <i class="fad fa-clipboard-check fa-fw"></i> Catalogue
        </a>
      </li>
    </ul>
  </div>
</td>
</tr>
   {#    8888b.  8b    d8 88 88b 88 
  dPYb    8I  Yb 88b  d88 88 88Yb88 
 dP__Yb   8I  dY 88YbdP88 88 88 Y88 
dP""""Yb 8888Y"  88 YY 88 88 88  #}
          <tr>
            <td>
            <a class="nav-link text-white"data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
              <span data-feather="file"></span>
              <i class="fad fa-users-cog fa-lg fa-fw" style="color: crimson;"></i> Administration
            </a>
            <div class="collapse" id="collapseAdmin">
              <ul class="list-group">
                <li class="list-group-item  bg-transparent border-0" >
                  <a class="nav-link text-white" href="utilisateurs">
                    <span data-feather="file"></span>
                    <i class="fal fa-user-tag fa-fw"></i> Utilisateurs
                  </a>
                </li>
              </ul>
            </div>
          </td>
          </tr>

        </table>
      </div>
    </nav>
    <!--end side bar-->
    <!--Block -->
    {% block main  %}
    {% endblock %}
  </div>
</div>



{% block script  %}
{% endblock %}


</body>
</html>
