<!doctype html>
<html lang="fr">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
    <link  rel="stylesheet" type="text/css" href="public/datatable/rowReorder.dataTables.min.css" >
    <link rel="stylesheet" href="public/css/dashboard.css">
    <title>Devis</title>
  </head>
  <body>

    <!--NavBar -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ user.prenom ~  " " ~  user.nom }}</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="unlog">Se deconnecter</a>
        </li>
      </ul>
    </nav>

    <!--end navbar-->
    <div class="container-fluid" id="accordion">
      <div class="row">

        <!--SideBar-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="home">
                  <span data-feather="file"></span>
                  Tableau de bord
                  <i class="fal fa-tachometer-alt-fast"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="nouveauDevis">
                  Nouveau devis
                  <i class="fal fa-file-edit"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mesDevis">
                  <span data-feather="bar-chart-2"></span>
                  Modifier devis
                  <i class="fal fa-file-search"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!--end side bar-->

        <!--Block -->
        {% block main  %}
        {% endblock %}

      </div>
    </div>
    <!-- Optional JavaScript -->
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script  type="text/javascript" src="public/bootstrap/jquery/jquery.js"></script>
    <script  type="text/javascript" src="public/bootstrap/js/bootstrap.js"></script>
    <script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
    <script  type="text/javascript" src="public/datatable/datatables.rowReorder.min.js"></script>
    <script  type="text/javascript" src="public/js/client.js"></script>
    
  </body>
</html>