<!doctype html>
<html lang="fr">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
   
    <link rel="stylesheet" href="public/css/dashboard.css">
    <title>Devis</title>
  </head>
  <body >

    <!--NavBar--> 
    <nav class="navbar navbar-light  sticky-top bg-white flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 ml-4 " href="#">  {{ user.prenom ~  " " ~  user.nom ~ " " }}<i class="fas fa-user"></i></a> 
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="unlog">Se deconnecter <i class="fad fa-sign-out"></i></a>
        </li>
      </ul>
    </nav>

    <!--end navbar-->
    <div class="container-fluid " id="accordion">
      <div class="row">

        <!--SideBar-->
        <nav class="col-2 d-none d-md-block bg-dark shadow sidebar">
          <div class="sidebar-sticky">
            <table class="table table-hover table-dark">
              <tr>
               
                  <img src="public/img/transparency.png" class=" ml-5 my-2" alt="" width="170" height="60">
                
              </tr>
              <tr>
                <td>
                <a class="nav-link text-white"data-toggle="collapse" href="#collapseCommandes" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span data-feather="file"></span>
                  Commandes
                  <i class="fal fa-shopping-cart"></i>
                </a>
                <div class="collapse" id="collapseCommandes">
                  <ul class="list-group">
                    <li class="list-group-item  bg-transparent border-0" >
                      <a class="nav-link text-white" href="home">
                        <span data-feather="file"></span>
                       Commander Devis
                       <i class="fal fa-clipboard-check"></i>
                      </a>
                    </li>
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item  bg-transparent border-0" >
                      <a class="nav-link text-white" href="commandCours">
                        <span data-feather="file"></span>
                        Commandes en cours
                        <i class="fal fa-rabbit-fast"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
              </tr>
              <tr>
                <td>
                <a class="nav-link text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span data-feather="file"></span>
                  Devis
                  <i class="fal fa-file-edit"></i>
                </a>
                <div class="collapse" id="collapseExample">
                  <ul class="list-group">
                    <li class="list-group-item  bg-transparent border-0" >
                      <a class="nav-link text-white" href="mesDevis">
                        <span data-feather="file"></span>
                        Mes devis
                        <i class="fal fa-file-search"></i>
                      </a>
                    </li>
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item  bg-transparent border-0 certificate" >
                      <a class="nav-link text-white" href="nouveauDevis">
                        <span data-feather="file"></span>
                        Nouveau devis
                        <i class="fal fa-file-edit"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </td>  
              </tr>
              <tr>
                <td class="nav-item">
                <a class="nav-link text-white" href="#">
                  <span data-feather="file"></span>
                 Saisie transport
                 <i class="fal fa-truck"></i>
                </a>
              </td>
              </tr>
              <tr>
                <td class="nav-item">
                <a class="nav-link text-white" href="#">
                  <span data-feather="file"></span>
                Factures
                <i class="fal fa-euro-sign"></i>
                </a>
              </td>
              </tr>
            </table>
           
            
          </div>
         
        </nav>

        <!--end side bar-->

        <!--Block -->
        {% block main  %}
        {% endblock %}

      </div>
    </div>
    <!-- Optional JavaScript -->
    <script  type="text/javascript" src="public/js/devisFunction.js"></script> 

    <!-- jQuery first, then Bootstrap JS -->
      
    <script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
    <script  type="text/javascript" src="public/bootstrap/js/bootstrap.js"></script>
    
    <script  type="text/javascript" src="public/js/client.js"></script>
    <script  type="text/javascript" src="public/js/client2.js"></script>
  </body>
</html>