{% extends 'layoutLogin.twig' %}
 {% block content %}
 <div class="container">
   <div class="row">
       <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center ">
           <div class="row">
               <div class="col-lg-4 col-md-5 mx-auto">
                   <!-- form card login -->
                   <div class="form-signin text-center  ">
                    <img class="mb-4" src="public/img/login.png" alt="" width="72" height="72">
                       <div class="">
                           <h2 class="mb-0">Connexion</h2>
                       </div>
                       <div class=" ">
                           <form class="form" role="form" id="formLogin" novalidate="" method="POST" action="login">
                               <div class="form-group  ">
                                   <label for="uname1">login</label>
                                   {% if not loginStatus  %}
                                   <input type="text" class="form-control form-control-lg rounded-3 is-invalid " name="login" id="uname1" >
                                   {% else %}
                                   <input type="text" class="form-control form-control-lg rounded-3 " name="login" id="uname1" >
                                   {% endif %}
                               </div>
                               <div class="form-group">
                                   <label>Mot de passe</label>
                                   {% if  not loginStatus %}
                                   <input type="password" class="form-control form-control-lg rounded-3 is-invalid " id="pwd1" name="pass" required="" >
                                   {% else %}
                                   <input type="password" class="form-control form-control-lg rounded-3 " id="pwd1" name="pass" required="" >
                                   {% endif %}
                               </div>
                               <button type="submit" class="btn btn-lg btn-success btn-block" id="btnLogin">Se connecter</button>
                           </form>
                       </div>
                       <!--/card-block-->
                   </div>
                   <!-- /form card login -->
               </div>
           </div>
           <!--/row-->
       </div>
       <!--/col-->
   </div>
   <!--/row-->
</div>
<!--/container-->
 {% endblock %}