{% extends 'layoutMain.twig' %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Mes Devis <i class="fal fa-file-search"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">



        <!--carte liste de Devis -->
      <div class="col-8">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"><i class="far fa-ellipsis-v"></i></h6>
            <div class="dropdown no-arrow">
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
          </div>
        </div>
      </div>


        <!--carte option -->
        <div class="col-3">
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Options <i class="fal fa-tools"></i></h6>
              <div class="dropdown no-arrow">
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="d-flex flex-column  justify-content-around px-5">
                
                <button type="button" class="btn btn-outline-success btn-lg btn-block ">Commander</button>
                <button type="button" class="btn btn-outline-primary btn-lg btn-block">Modifier</button>
                <button type="button" class="btn btn-outline-warning btn-lg btn-block">Dupliquer</button>
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Supprimer</button>
             
            </div>
          </div>
        </div>


      </div>
    </main>
     {% endblock %}
     
    
  