{% extends 'layoutMain.twig' %}

{% block main %}

   <!-- 1ere ligne -->
   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Modification {{ dump(thisUser) }} <i class="fas fa-user-plus"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          
          </div>
        </div>
      </div>
   <div class="d-flex flex-wrap flex-row justify-content-start ">



    <div class="">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"><i class="far fa-ellipsis-v"></i></h6>
            <div class="dropdown no-arrow">
            
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area d-flex justify-content-center">


                

                <form class="d-flex flex-column" method="POST" action="createUser">


                    <div class="d-flex justify-content-start">

                        <div class="input-group mb-3 mx-2">
                            <div class="input-group-prepend ">
                              <span class="input-group-text" >ID*</span>
                            </div>
                            <input type="text"class="form-control" name="idUser" required>
                          </div>
    
                          <div class="input-group mb-3 mx-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Login*</span>
                            </div>
                            <input type="text" class="form-control" name="loginUser" required>
                          </div>
    
                          <div class="input-group mb-3 mx-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Date</span>
                            </div>
                            <input class="form-control" type="datetime-local" name="dateUser">
                          </div>
    
                        </div>


                    <div class="d-flex justify-content-start">

                    <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend ">
                          <span class="input-group-text" >Nom*</span>
                        </div>
                        <input type="text" class="form-control" name="nameUser">
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Prenom</span>
                        </div>
                        <input type="text" class="form-control" name="prenomUser">
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Fonction</span>
                        </div>
                        <input type="text" class="form-control" name="fonctionUser">
                      </div>

                    </div>
                    <div class="d-flex justify-content-start">

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">email</span>
                        </div>
                        <input type="email" class="form-control" name="emailUser">
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">GSM</span>
                        </div>
                        <input type="text" class="form-control" name="gsmUser">
                      </div>

                    

                    

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">N° Poste</span>
                        </div>
                        <input type="text" class="form-control" name="posteUser">
                      </div>
                    </div>

                    <div class="d-flex justify-content-start ">
                    <div class="input-group mb-3 mx-2">
                      <div class="input-group-prepend">
                        <label class="input-group-text" >PO_VALID</label>
                      </div>
                      <select class="custom-select" name="poUser">
                        <option value="0" >Pas d'accès</option>
                        <option value="1">Accès</option>
                        <option value="2">Accès Supérieur</option>
                        <option value="3">Administrateur</option>
                        <option value="4">Super Administrateur</option>
                      </select>
                    </div>
                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >CrmUser</label>
                        </div>
                        <select class="custom-select" name="crmUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="1">Accès</option>
                          <option value="2">Accès Supérieur</option>
                          <option value="3">Administrateur</option>
                          <option value="4">Super Administrateur</option>
                        </select>
                      </div>


                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">LogNec*</span>
                        </div>
                        <input type="text" class="form-control" name="lognecUser" required>
                      </div>

                   

                      

                    </div>


                    <div class="d-flex justify-content-start ">



                    <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Devis</label>
                        </div>
                        <select class="custom-select" name="devisUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="10">Accès</option>
                          <option value="20">Accès Supérieur</option>
                          <option value="30">Administrateur</option>
                          <option value="40">Super Administrateur</option>
                        </select>
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Commandes</label>
                        </div>
                        <select class="custom-select" name="cmdUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="10">Accès</option>
                          <option value="20">Accès Supérieur</option>
                          <option value="30">Administrateur</option>
                          <option value="40">Super Administrateur</option>
                        </select>
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Saisie</label>
                        </div>
                        <select class="custom-select" name="sasieUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="10">Accès</option>
                          <option value="20">Accès Supérieur</option>
                          <option value="30">Administrateur</option>
                          <option value="40">Super Administrateur</option>
                        </select>
                      </div>

                    </div>


                    <div class="d-flex justify-content-start ">
                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Facture</label>
                        </div>
                        <select class="custom-select" name="factureUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="10">Accès</option>
                          <option value="20">Accès Supérieur</option>
                          <option value="30">Administrateur</option>
                          <option value="40">Super Administrateur</option>
                        </select>
                      </div>

                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Administration</label>
                        </div>
                        <select class="custom-select" name="adminUser">
                          <option value="0" >Pas d'accès</option>
                          <option value="10">Accès</option>
                          <option value="20">Accès Supérieur</option>
                          <option value="30">Administrateur</option>
                          <option value="40">Super Administrateur</option>
                        </select>
                      </div>


                      <div class="input-group mb-3 mx-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Mot de Passe</span>
                        </div>
                        <input type="password" class="form-control" name="passwordUser">
                      </div>
                    </div>

                    

                    

                      <div class=" card input-group mb-3 mx-2">
                       
                        <button type="submit" class="btn btn-success "> Valider</button>
                      </div>
                     

                </form>
            
           </div>
          </div>
        </div>
      </div>
















    </div>
    </main>

       {% endblock %}