{% extends 'layoutMain.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
       
         <h1 class="h2">Test</h1>
           
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
              </div>
            </div>
          </div>
         
           <!-- 1ere ligne -->
           <div class="d-flex flex-wrap flex-row justify-content-start my-4">
           
       <!-- Societe -->
       <div class="col-md-8">
        <div class="card shadow mb-4 h-100">
          <!-- Card Header - -->
          
          <!-- Card Body -->
        <div class="card-body  ">
              <table class="table">
              <thead>
                        <tr>
                        <th scope="col">N°</th>
                        <th scope="col">N° client</th>
                        <th scope="col">Nom</th>
                        </tr>
                    </thead>
                     <tbody>
            {%  for facture in tableau   %}    
                        <tr>
                        <td>{{facture.cmd__id}}</td>
                        <td>{{facture.cmd__client__id_fact}}</td>
                        <td>{{facture.cmd__nom_devis}}</td>
                        </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

    

    <!-- Modal -->

    
      
        
    </main>
     {% endblock %}



{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/societe_crea.js"></script>
{% endblock %}