
    <div class=" my-2 col-12 col-lg-8">
        <form class="d-flex justify-content-between">
            <input type="text" class="form-control form-control-lg input-recode col-8 col-lg-10"
            placeholder="numéro, titre, client, Pn, type etc.." 
            name="searchTickets" maxlength="100" required>
            <button class="btn btn-recode "><i class="fas fa-search"></i></button>
        </form>
        
    </div>

