<div class=" my-2 col-12 col-lg-8">
    <form method="GET" action="myRecode">
        <div class="d-flex justify-content-between">
            <input type="text" class="form-control form-control-lg input-recode col-8 col-lg-10"
                placeholder=" titre, client, Pn, Sn etc.." name="search"
                value="{{filters.search}}" minlength="2" maxlength="100">
            <button class="btn btn-recode "><i class="fas fa-search"></i></button>
        </div>
        <div class="d-flex my-2 justify-content-start">
            <input type="text" class="form-control form-control input-recode col-6" placeholder="Numero de ticket" name="tk__id" value="{{filters.tk__id}}" minlength="2" maxlength="100">
            <input type="text" class="form-control mx-2 form-control input-recode col-6" placeholder="Numero de groupe" name="tk__groupe" value="{{filters.tk__groupe}}" minlength="2" maxlength="100">
        </div>
        <div class="d-flex justify-content-start">
            <div class="">
                <select id="filtersType" name="TypeFilter" class="">
                    <optgroup label="Motif">
                        <option value="DP" >Demande de prix</option>
                        <option value="TKM" selected>Ticket myRecode</option>
                    </optgroup>
                </select>
            </div>
            <div class="mx-4">
                <select id="filtersTickets" name="tk__lu[]" multiple>
                    <optgroup label="Etat">
                        {% if filters.cloture %}
                        <option value="2" selected>Cloturés</option>
                        {% else %}
                        <option value="2">Cloturés</option>
                        {% endif %}
                        {% if filters.lu %}
                        <option value="1" selected>Lus</option>
                        {% else %}
                        <option value="1">Lus</option>
                        {% endif %}
                        {% if filters.nonLu %}
                        <option value="0" selected>Non lus</option>
                        {% else %}
                        <option value="0">Non lus</option>
                        {% endif %}
                    </optgroup>
                </select>
            </div>
            {# <div class=" ">
                <select id="filtersEtat" name="AuthorFilter">
                    <optgroup label="Auteur">
                        {% if filters['Author'] == 1 %}
                        <option value="1" selected>Tous les tickets</option>
                        {% else %}
                        <option value="1">Tous les tickets</option>
                        {% endif %}
                        {% if filters['Author'] == 2 %}
                        <option value="2" selected>En cours chez recode</option>
                        {% else %}
                        <option value="2">En cours chez recode</option>
                        {% endif %}
                    </optgroup>
                </select>
            </div> #}
        </div>
    </form>
</div>