
    <div class=" my-2 col-12 col-lg-8">
        <form  method="get" action="tickets-display-list">
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control form-control-lg input-recode col-8 col-lg-10"
                    placeholder="numéro, titre, groupe,  client, Pn, type etc.." name="searchTickets" value="{{text_results}}"
                    minlength="2" maxlength="100">
                <button class="btn btn-recode "><i class="fas fa-search"></i></button>
               
            </div>
            <div class="row justify-content-start col-12 my-2 mx-2">
                {# <div class="form-check text-white col-5 col-md-4">
                    {% if cloture %}
                        <input class="form-check-input"  type="checkbox" value="ok" name="cloture" checked>
                    {% else %}
                        <input class="form-check-input"  type="checkbox" value="ok" name="cloture">
                    {% endif %}
                  
                    <label class="form-check-label" for="radioInput">Inclure les tickets cloturés</label>
                </div> #}
            </div>
           
        </form>
      
    </div>

