
<div class="form-group"> 
            <textarea class="form-control my-2  form-control-lg input-recode" name="content"  placeholder="Communications"  rows="2"></textarea>
            {# <div class=" my-2">
                        <div class="file-upload-wrapper">
                            <div id="uploader" class="input-recode"></div>
                        </div>
            </div>   #}
            <select class=" selectpicker show-tick " data-width="100%" data-live-search="true" data-size="10" name="what" required>
                        <option value="RPD" selected>Répondre</option>
                        <option value="CIN" >Echange interne</option>
                        <option value="CLO" >Cloturer le ticket</option>
            </select>  
</div>