
<div class="form-group"> 
            <textarea class="form-control my-2  form-control-lg input-recode" name="content"  placeholder="Communications"  rows="2"></textarea>
            <div class="my-3">
                <input class="form-control" name="file" type="file" id="formFile">
            </div>
            <select id="actionInput" class="custom-select col-12" data-width="100%" data-live-search="true" data-size="10" name="what" required>
                        <option value="RPD" selected>Répondre</option>
                        <option value="CIN" >Echange interne</option>
                        <option value="CLO" >Cloturer le ticket</option>
            </select>
            <select id="dest" class=" custom-select col-12  d-none my-2" data-width="100%" data-live-search="true" data-size="10" name="dest" >
                {% for user_ in users_list %}
                    {% if user_.id_utilisateur > 1010 or  user_.id_utilisateur < 1000 %}
                        <option value="{{user_.id_utilisateur}}" >{{user_.prenom ~ " " ~ user_.nom}}</option>
                    {% endif %}
                {% endfor %}
    </select>    
</div>