
<div class="form-group"> 
            <textarea class="form-control  form-control-lg input-recode" name="content"  placeholder="Communications"  rows="2"></textarea>
            <div class=" my-2">
                        <div class="file-upload-wrapper">
                            <div id="uploader" class="input-recode"></div>
                        </div>
            </div>  
            <select class=" selectpicker  show-tick " data-width="100%" data-live-search="true" data-size="10" name="user" required>
                        <option value="9999" selected>Renvoyer au demandeur</option>
                        <option value="9999" >Echange interne</option>
                        <option value="9999" >Cloturer le ticket</option>
            </select>        
</div>